@import url(http://fonts.googleapis.com/css?family=Righteous);
@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono);

$serif: 'Righteous', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$sans: 'Quattrocento Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$code: 'Ubuntu Mono', Consolas, 'Liberation Mono', Menlo, Monaco, Bitstream Vera Sans Mono, Courier, monospace;
