<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% if page.title %} {{ page.title }} | {% endif %}Pokémon Chronology</title>
    <link rel="stylesheet" href="{{ '/assets/style/main.css' | prepend: site.baseurl }}" />
  </head>
  <body>
    <header>
      <h1>Pokémon Chronology</h1>
      <p>Where each episode, movie and special sits in the timeline</p>
    </header>

    <section class="banner">
      <div>
        <a href="{{ site.github.repository_url }}">Fork On GitHub</a>
        <div class="downloads">
          <span>Downloads:</span>
          <ul>
            <li><a href="{{ '/data/anime.json' | prepend: site.baseurl }}">JSON</a></li>
            <li><a href="{{ '/data/anime.sql' | prepend: site.baseurl }}">SQL</a></li>
          </ul>
        </div>
      </div>
    </section>

    <section class="content">
      {{ content }}
    </section>

    <!--footer>
      <span class="small">Project maintained by <a href="https://github.com/mal">mal</a></span>
    </footer-->
  </body>
</html>
